@use "./global.scss";
@use './variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  font-family: "Inter", serif;

  background: $bg-color;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, $bg-color);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, $bg-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: $text-color;

  height: 100vh;

  margin: 0 auto;
}

.app {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 1920px;
  height: 100%;
  min-height: 100vh;

  margin: 0 auto;
  
  text-align: center;
}

.app {
  h1, h2, h3, h4, h5, h6 {
    text-shadow: $text-shadow;
  }
}

button {
  background: #9e529c;
  background: linear-gradient(138deg, rgba(158,82,156,1) 0%, rgba(158,128,82,1) 100%);
  color: $text-color;
  text-shadow: $text-shadow;

  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.app .nav-button {
  position: absolute;
  top: 20px;
  left: 10px;

  margin: 10px;
  padding: 20px;

  font-size: 26px;
  font-weight: 200;

  border-radius: 10px;

  color: #ffffff;
  background: #79919b;
  text-shadow: $text-shadow;

  cursor: pointer;

  @media screen and (max-width: 1440px) {
    font-size: 20px;
    padding: 15px;
  }

  @media screen and (max-width: 480px) {  
    font-size: 18px;
    padding: 12px;
  }

  @media screen and (max-width: 375px) {  
    font-size: 16px;
  }
}

input {
  border: none;
}