.game-selector {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 20px;

    padding: 20px;

    .party-game, .solo-game {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        h1 {
            font-size: 50px;
            font-weight: 700;
            
            margin: 40px 0 20px 0;
        }

        button {
            height: 100%;

            font-size: 36px;
            font-weight: 600;

            width: 100%;

            padding: 50px 14px;
        }
    }
}

/* Большие экраны (1440px и выше) */
@media screen and (max-width: 1440px) {
    .game-selector {
        gap: 8px;

        .party-game, .solo-game {
            gap: 6px;

            h1 {
                font-size: 34px;
            }

            button {        
                font-size: 26px;
                padding: 40px 14px;
            }
        }
    }
}

/* Планшеты (1024px и ниже) */
@media screen and (max-width: 1024px) {
    .game-selector {
        gap: 6px;

        .party-game, .solo-game {
            h1 {
                font-size: 32px;
            }

            button {        
                font-size: 24px;
                padding: 35px 14px;
            }
        }
    }
}

/* Маленькие планшеты (768px и ниже) */
@media screen and (max-width: 768px) {
    .game-selector {
        .party-game, .solo-game {
            h1 {
                font-size: 22px;
            }

            button {        
                font-size: 22px;
                padding: 30px 14px;
            }
        }
    }
}

/* Смартфоны (480px и ниже) */
@media screen and (max-width: 480px) {
    .game-selector {
        .party-game, .solo-game {
            h1 {
                font-size: 20px;
            }

            button {        
                font-size: 20px;
                padding: 25px 14px;
            }
        }
    }
}

/* Маленькие смартфоны (375px и ниже) */
@media screen and (max-width: 375px) {
    .game-selector {
        .party-game, .solo-game {
            h1 {
                font-size: 18px;
            }

            button {        
                font-size: 18px;
                padding: 20px 14px;
            }
        }
    }
}
